<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="mainhos.css">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="products">
        <div class="container">
            <h1 class="lg-title">HOSPITALS</h1>
            <p class="text-light">You can choose Particular Hospital Nearest to you as per Address.<br>Thank You!!!
                <br>"Team Blood Hub"</p>

            <div class="product-items">
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/imagehos/aiimsDelhi.webp" alt="product image">
                        </div>
                        <div class="product-btns">
                            <form action="/index" method="post">
                                <button type="submit" class="btn-Cart" name="Hospital" value="Welcome To Aiims Delhi Blood Bank" onclick="this.form.submit()">Visit
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">AIIMS DELHI</h2>

                        </div>
                        <a href="https://www.aiims.edu/" class="product-name" target="_blank">Ansari Nagar,New Delhi</a>

                    </div>


                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/imagehos/aiimsNagpur.webp" alt="product image">
                        </div>
                        <div class="product-btns">
                            <form action="/index" method="post">
                                <button type="submit" class="btn-Cart" name="Hospital" value="Welcome To Aiims Nagpur Blood Bank" onclick="this.form.submit()">Visit
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">AIIMS NAGPUR</h2>

                        </div>
                        <a href="https://aiimsnagpur.edu.in/recruitmentfront/current_posting" class="product-name"
                            target="_blank">Mihan,Nagpur,Maharastra</a>

                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/imagehos/aiimsPatna.webp" alt="product image">
                        </div>
                        <div class="product-btns">
                            <form action="/index" method="post">
                                <button type="submit" class="btn-Cart" name="Hospital" value="Welcome To Aiims Patna Blood Bank" onclick="this.form.submit()">Visit

                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">AIIMS PATNA</h2>

                        </div>
                        <a href="https://aiimspatna.edu.in/" class="product-name"
                            target="_blank">Phulwarisharif,Patna,Bihar</a>

                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/imagehos/apolloChennai.webp" alt="product image">
                        </div>
                        <div class="product-btns">
                            <form action="/index" method="post">
                                <button type="submit" class="btn-Cart" name="Hospital" value="Welcome To ApolloChennai Blood Bank" onclick="this.form.submit()">Visit
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">Apollo Chennai</h2>

                        </div>
                        <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiUgvLpo-v_AhUMaosKHfWDDCoYABAAGgJ0bQ&ase=2&ohost=www.google.com&cid=CAESa-D2swe5ZULXq2_B2lZ4YZIMb4nSE3LWlJknFjfJVzSJFeKcxRMVG8RjVST7p5XNkLRx2AKZWU5kT1XSBKYiAwCO6RihGmKyn-AgM6DTV3u1AWuEt2nyt77BspYYdFhOWvzG7_yF5-Us8rFn&sig=AOD64_2GMuaQsgw41HvGzMhhN1U3Ida1oQ&q&nis=4&adurl&ved=2ahUKEwihjurpo-v_AhWWO3AKHZWeA0oQ0Qx6BAgJEAM"
                            class="product-name" target="_blank">Greams Road,Chennai,Tamil Nadu</a>

                    </div>

                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/imagehos/GangaramDelhi.webp" alt="product image">
                        </div>
                        <div class="product-btns">
                            <form action="/index" method="post">
                                <button type="submit" class="btn-Cart" name="Hospital" value="Welcome To GangaramDelhi Blood Bank" onclick="this.form.submit()">Visit

                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">Gangaram Delhi</h2>

                        </div>
                        <a href="https://sgrh.com/" class="product-name" target="_blank">Rajinder Nagar,New Delhi</a>

                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/imagehos/LilavatiMumbai.jpg" alt="product image">
                        </div>
                        <div class="product-btns">
                            <form action="/index" method="post">
                                <button type="submit" class="btn-Cart" name="Hospital" value="Welcome To LilavatiHospital Blood Bank" onclick="this.form.submit()">Visit
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">Lilavati Mumbai</h2>

                        </div>
                        <a href="https://lilavatihospital.com/" class="product-name" target="_blank">Bandra
                            West,Mumbai,Maharastra</a>

                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/imagehos/medantaGudgaon.jpg" alt="product image">
                        </div>
                        <div class="product-btns">
                            <form action="/index" method="post">
                                <button type="submit" class="btn-Cart" name="Hospital" value="Welcome To MedantaGudgaon Blood Bank" onclick="this.form.submit()">Visit

                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">Medanta Gudgaon</h2>

                        </div>
                        <a href="https://www.medanta.org/" class="product-name" target="_blank">Sector 38,Gurgaon,Delhi
                            Ncr</a>

                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/imagehos/zydusAhmadabad.webp" alt="product image">
                        </div>
                        <div class="product-btns">
                            <form action="/index" method="post">
                                <button type="submit" class="btn-Cart" name="Hospital" value="Welcome To ZydusAhmadabad Blood Bank" onclick="this.form.submit()">Visit
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">Zydus Ahmadabad</h2>

                        </div>
                        <a href="https://zydushospitals.com/" class="product-name" target="_blank">Sola
                            Bridge,Ahmadabad,Gujarat</a>

                    </div>

                </div>
                <!-- end of single product -->
            </div>
        </div>
    </div>

    <div class="bottom-container">
        <a class="linkedin" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="twitter" href="https://twitter.com/">Twitter</a>
        <a class="koo" href="https://www.koo.com/">Koo</a>
        <p>
        <p class="copyright">© 2023 BLOOD HUB.</p>
        </p>
    </div>
    <script src="/contactscript.js"></script>
</body>

</html>