<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="head">
        <p style="padding: 10px; padding-bottom: 5px; height: 10px;">
        <h2>Blood Hub</h2>
        </p>
    </div>
    <a href="/"><img src="Blood Hub Logo.png" class="shadow-lg bg-body rounded-circle" alt="Logo"
            style="z-index: 2; height: 150px; width: 160px; margin-left: 50px; margin-bottom: 20px; margin-top: -50px;"></a>
    <div class="float-end">
        <div class="dropdown" style="margin-top: 30px;">
            <button class="dropbtn">About</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/About">About Blood Hub</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="dropdown1">
            <button class="dropbtn1">LOOKING FOR BLOOD</button>
            <div class="dropdown1-content">
                <a href="/index">Blood Availability</a>
                <a href="#">Blood Bank Directory</a>
            </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn2">WANT TO DONATE BLOOD</button>
            <div class="dropdown2-content">
                <a href="#">Donor Login</a>
                <a href="#">About Blood Donation</a>
            </div>
        </div>
        <div class="dropdown3">
            <button class="dropbtn3"><b>BLOOD BANK LOGIN</b></button>
            <div class="dropdown3-content">
                <a href="/login">Blood Hub Login</a>
                <a href="/AddBloodBank">Add Your BloodBank</a>
            </div>
        </div>
    </div>

    <div class="container mt-4 p-3 shadow">
        <h2 class="text-danger fw-bold ms-3">Video</h2>
        <hr>
        <div class="container">
            <iframe width="300" height="264" src="https://www.youtube.com/embed/_IRqKTgJdDs"
                title="Kids Message: Let&#39;s Do it. Donate Blood for Thalassemia patient." frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <h5 class="pt-4 mt-4 me-4 text-danger float-end w-50">Kids Message: Let's Do it. Donate Blood for
                Thalassemia patient</h5>
        </div>
        <hr>
        <div class="container">
            <iframe width="330" height="264" src="https://www.youtube.com/embed/hzQOCsaQvK0"
                title="Message by : Vinita Srivastava, National Senior consultant &amp; co-ordinator Blood cell NHM Delhi"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h5 class="pt-4 mt-4 me-lg-5 text-danger float-end w-50">Vinita Srivastava, National Senior consultant &
                co-ordinator Blood cell NHM Delhi</h5>
        </div>
        <hr>
        <div class="container">
            <iframe width="330" height="264" src="https://www.youtube.com/embed/8Bi3WBm-vRI"
                title="Message By : Dr Manpreet Chhatwal Additional Project Director Punjab State Blood Cell NHM Punjab"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h5 class="pt-4 mt-4 me-lg-5 text-danger float-end w-50">Dr Manpreet Chhatwal.Additional Project
                Director Punjab State AIDS Control Society cum State Nodal Officer State Blood Cell NHM Punjab</h5>
        </div>
        <hr>
        <div class="container">
            <iframe width="330" height="264" src="https://www.youtube.com/embed/crVglHe4tHA"
                title="Message By : Dr Mahendra Kendre, ADHS blood cell DHS Mumbai" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h5 class="pt-4 mt-4 me-lg-5 text-danger float-end w-50">Dr Mahendra Kendre, ADHS blood cell DHS Mumbai
            </h5>
        </div>
        <hr>
        <div class="container">
            <iframe width="330" height="264" src="https://www.youtube.com/embed/X97vd6BnELs"
                title="Message By : Dr. J.S. Arora, General Secretary at National Thalassemia Welfare Society, New Delhi"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h5 class="pt-4 mt-4 me-lg-5 text-danger float-end w-50">Dr. J.S. Arora, General Secretary at National
                Thalassemia Welfare Society & Federation of Indian Thalassemia, New Delhi</h5>
        </div>
        <hr>
        <div class="container">
            <iframe width="330" height="264" src="https://www.youtube.com/embed/IVGqDtRGB9o"
                title="Message By : Mr Rakesh Munshi, Additional Director, Blood cell Madhya Pradesh" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h5 class="pt-4 mt-4 me-lg-5 text-danger float-end w-50">Dr Rakesh Munshi, Additional Director, Blood
                cell Madhya Pradesh</h5>
        </div>
        <hr>
        <div class="container">
            <iframe width="330" height="264" src="https://www.youtube.com/embed/ciJMbfT0xlg"
                title="Message By : Dr Ruby Khan, Deputy Director, Blood Cell NHM, Madhya Pradesh" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h5 class="pt-4 mt-4 me-lg-5 text-danger float-end w-50">Message By : Dr Ruby Khan, Deputy Director,
                Blood Cell NHM, Madhya Pradesh</h5>
        </div>
        <hr>
        <div class="container">
            <iframe width="330" height="264" src="https://www.youtube.com/embed/bTiws2YloYI"
                title="Kids Life saving Message : Let&#39;s do it. Donate Blood" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h5 class="pt-4 mt-4 me-lg-5 text-danger float-end w-50">Kids Life saving Message : Let's do it. Donate
                Blood</h5>
        </div>
        <hr>
        <div class="container">
            <iframe width="330" height="264" src="https://www.youtube.com/embed/6IUjcLZnbss"
                title="Message by :Mr Manish Choudhary, State coordinator officer blood cell NHM Rajasthan"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h5 class="pt-4 mt-4 me-lg-5 text-danger float-end w-50">Mr Manish Choudhary, State coordinator officer
                blood cell NHM Rajasthan</h5>
        </div>
    </div>  
    <div class="auto-container sitemap bg-dark">
        <div class="row clearfix ms-3">
            <div class='col-md-3 col-sm-12 col-xs-12  wow bounceInLeft'>
                <h3 class="text-left text-warning m-3 ms-4">Looking for Blood</h3>
                <ul style='line-height:165%'>
                    <li><a href='/index'>Blood Availability</a></li>
                    <li><a href='#'>Blood Bank Directory</a></li>
                </ul>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12  wow bounceInLeft'>
                <h3 class='text-left text-warning m-3 ms-3'>Want to Donate Blood</h3>
                <ul style='line-height:165%'>
                    <li><a href='/BLDAHIMS/bloodbank/portalDonorLogin.cnt'>Donor Login</a></li>
                    <li><a href='/BLDAHIMS/bloodbank/donateblood.cnt'>About Blood Donation</a></li>


                </ul>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12  wow bounceInLeft'>
                <h3 class='text-left text-warning m-3 ms-3'>Blood Bank Login</h3>
                <ul style='line-height:165%'>
                    <li><a href='/login' target="_blank">Blood Hub Login</a></li>
                    <li><a href='/AddBloodBank' target="_blank">Add your Blood Bank</a>
                    </li>
                </ul>
            </div>
            <!-- <div style='border-right: 1px solid #616161;border-left: 1px solid #616161;' class='col-md-4 col-sm-12 col-xs-12  wow bounceInLeft'>
                   <h3 class='text-left'>Login</h3>
                   <ul style='line-height:165%'>
          
          <li><a href='/BLDAHIMS/bloodbank/portalDonorLogin.cnt'>My Donations</a></li>
          <dd><a href='/eRaktKosh/hissso/loginLogin'>Portal Login</a></dd>
         
          
        </ul>
                  </div> -->
            <div class='col-md-3 col-sm-12 col-xs-12  wow bounceInLeft mb-4'>
                <h3 class='text-left text-warning m-3 ms-5'>About Us</h3>
                <ul style='line-height:165%'>

                    <!--  <li><a href='/BLDAHIMS/bloodbank/aboutNHM.cnt'>About NHM Initiatives</a></li> -->
                    <li><a href='/About' target="_blank">About Blood Hub</a></li>
                    <li><a href="/FAQ" title="Blood Hub FAQs" target="_blank">Blood Hub FAQs</a></li>
                    <li><a href="/video" title="Video gallery" target="_blank">Video Gallery</a></li>
                    <li><a href="/contact" title="Contact No" target="_blank">Contact Us</a></li>

                </ul>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 footer-logo text-center">
                <span><a class="mylink" href="/terms" style="color: white; text-decoration: none;" target="_blank">Terms
                        &
                        Conditions |</a></span>
                <span><a class="mylink" href="/policy" style="color: white; text-decoration: none;"
                        target="_blank">Privacy
                        Policy |</a></span> <span><a class="mylink" href="/accessment"
                        style="color: white; text-decoration: none;" target="_blank">Accessibility Statement
                        |</a></span>
                <span id='updatetime' style="font-size: medium; color: white; text-decoration: none;"></span>
            </div>
            <script>
                var d = (new Date()).toString().split(' ').splice(1, 3).join(' ');
                document.getElementById('updatetime').innerHTML = "Last Updated : " + d;
            </script>
        </div>
    </div>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>